<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Log In</a></li>
        <li class="nav-item"><a routerLink="/signup" class="nav-link">Sing Up</a></li>
        <li class="nav-item"><a routerLink="/admin" class="nav-link">Admin</a></li>
        <li class="nav-item"><a routerLink="/admin/manage" class="nav-link">Admin Manage</a></li>
        <li class="nav-item"><a routerLink="/manager" class="nav-link">Manager</a></li>
        <li class="nav-item"><a routerLink="/customer" class="nav-link">Customer</a></li>
    </ul>
</nav>
